@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center ">
    <img src ="~/LeagueLogo.png"  height="400px" class="logoImage"> 
</div><br>

<div class="container text-left row">
    <div class="col-sm-10">
        <h1> What is League of Legends</h1>
        <p> 
            Leauge of legends is a 5v5 MOBA (multiplayer Online Battle Arena) with easy to learn but difficult 
            to execute mechanics, this makes it an easy game to pick up but also having an insanely high skill ceiling.
        </p>
        <br>
    </div> 
</div>

<div class="container text-left row">
    <div class ="col-sm-2">
        <!--Empty col to give it pseudo padding on the left-->
    </div>
    
    <div class="col-sm-10">
        <h1> The Gameplay</h1>
        <p> 
            The main gameplay loop is to earn gold buy killing minions, monster or other neutral objectives, all the while
            batteling your opponets for control over the map and using the gold you get to buy items making you even more 
            powerful.
        </p>
        <br>
    </div>
    
    
</div>

<div class="container text-left row">  
    <div class="col-sm-10 ">
        <h1> How To Play </h1>
        <p> 
            The way you play with the game is by controlling one of five champions on one of the teams. Each character has 
            three basic ablities and an ultimate, using them well to outplay your opponets, secure objectives and win the game. 
            there are many different playstyles so find one that suits you and look for a champion to main.
        
        </p>
        <p>
            download leage of legends <a href = "https://signup.euw.leagueoflegends.com/en/signup/redownload">here </a> 
        </p>
    </div> 

</div>



