@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">League of Legends </h1> <!-- this should be a cool image later-->
    <p>League of legends is a 5v5 game where each player controls one champion using 3 abilities and an ultimate ability to defeat the opposing team by killing them in fights and claiming objectives while also trying to defend your own base. </p>
</div>
