@{
    ViewData["Title"] = "Remove Champion";
}


<div class = "container text-centre">
    <br><h1>Remove a Champion</h1><br>
    @using(Html.BeginForm("SubmitRemove", "ManageChampions", FormMethod.Post)){
        
        <form method = "post">
            <div class="row">
                <div class="col-sm-2">
                     <label for = "Name" class = "formLabel"> Champion name: </label>
                </div>
                <div class="col-sm-4">
                    <input type = "text" name = "name" placeholder="Enter a Champions name" required>
                </div>
            </div>
            <br>
            <input  type = "submit" value = "Remove"> 
        </form>

    }
</div>