@model leagueChampionStats.DataAccessLayer.championContext
@{
    ViewData["Title"] = "Champions";
}

<div>
   @foreach ( var champion in Model.champions)
    {
       <p> @champion.name </p> 
    } 
</div>