@{
    ViewData["Title"] = "Add Champion";
}


<div class = "championForm">
    <h1>Add a new Champion</h1>
    @using(Html.BeginForm("Submit", "AddChampion", FormMethod.Post)){
        
        <form method = "post">
            <label for = "Name" class = "formLabel"> Champion name: </label>
            @Html.TextBox("Name") <br>
            <label for = "Role" class = "formLabel"> Suggested role: </label>
            @Html.TextBox("Role") <br>
            <label for = "Type" class = "formLabel"> Champion class: </label>
            @Html.TextBox("Type") <br>
            <label for = "Region" class = "formLabel"> Region of origin: </label>
            @Html.TextBox("Region") <br>
            <input  type = "submit" value = "submit"> 
        </form>

    }


</div>