@{
    ViewData["Title"] = "Playstyles";
}

<div class = "container">
    <div>
        <h1>Bruisers</h1>
        <P>
            This is the class for anyone who wants to be right in the frontline, taking loads of damage and dealing 
            just as much. Champions in this class are usually short range with high health but not a lot of base 
            resistances built into their kit. Their job is to be a bit tanky while also being able to run you down 
            with their decent damage.
        </P>

        <h1>Tanks</h1>
        <P>
            This class if for anyone that wants to sponge up the damage for the team, giving their team the chance to
            deal damage uninterrupted. Similar to bruisers they have above average health but not as much damage, with
            the trade off being that they have higher base armour and magic resistance stats.
        </P>

        <h1>Assassins</h1>
        <P>
            This class is for the people that enjoy making flashy plays and flexing their mechanics to outplay their
            opponents. These champions have a lot of burst damage and their role is to burst down priority targets 
            early in a fight and then use their mobility to weave in and out of the fight.
        </P>

        <h1>Mages</h1>
        <P>
            This class is for anyone with the ability to position well and land their skillshots. This class usually 
            sits in the back dealing massive aoe damage but have low health and low ability to recover it, this means 
            positioning is key so that you can hold on until late game where you will be killing everyone with just 
            a single basic ability
        </P>

        <h1>Enchanters</h1>
        <P>
            This class is for anyone that enjoys taking on the supportive role, buffing and healing their allies with
            different spells. Although this class of champions deal very little damage, they enable the strong memebers 
            of your team, making them near unkillable.
        </P>

        <h1>ADC</h1>
        <P>
            The ADC (Attack Damage Carry) class if for those that want to deal large amounts of damage with basic attacks.
            this class of champions have the highest dps but come with the trade off of having extremely low health and are 
            often the target focus of the enemy team. You'll need to rely on your team to help you out, as well as have 
            good positioning and ability to dodge key skillshots from enemies.
        </P>

    </div>
</div>